<div class="row">
  <label class="control-label col-sm-4" for="name">Filter</label>
  <div class="col-sm-4">
    <!-- <select class="form-control" (input)="filter($event)">
        
      <option *ngFor="let ExpenseType of ExpenseTypes"> {{ ExpenseType }}</option>
    </select> -->
  </div>
  </div>
<div class="container">
  <div class="row">
      <div class="col-xs-12">
       <app-expense-item *ngFor="let expenseEl of expenses" [expense]="expenseEl"></app-expense-item>
      </div>
    </div>
    </div>
  